name: api dev test
on:
  push:
    branches:
      - master
      - dev

jobs:
  test_api:
    name: api test
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: "./APIServer"
    services:
      db:
        image: ghcr.io/kamioda/mjrankingtestdb:v1.0.0 
        options: "--name=mysql"
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_USER: mahjongranking
          MYSQL_PASSWORD: mahjongrankingservice001
          MYSQL_DATABASE: mahjongranking
          options: >-
            --health-cmd "mysqladmin ping"
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5
    env:
      DATABASE_URL: "mysql://mahjongranking:mahjongrankingservice001@localhost:3306/mahjongranking"
    steps:
      - uses: actions/checkout@v3
      - run: sudo docker ps
      - run: sudo docker network ls
      - name: Use Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: npm
          cache-dependency-path: ./APIServer
      - run: npm ci
      - name: Execute test
        run: |
          npm run migrate:test
          npm run ci
          ls
      - name: Publish coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./APIServer/coverage/lcov.info
